{% extends "dponiwiki/base.html" %}
{% block title %}Assign Component!{% endblock %}
{% block content %}
	<p>Assign me!</p>
	<h1>{{ component.name }}</h1>
	
	<h2>Islands already using this component:</h2>
	{% for island in host_islands_list %}
	<p><a href="{% url island-detail island.slug %}">{{ island.name }}</a></p>
	{% endfor %}
	
	<h2>Islands you might want to add this component to:</h2>
	<form action="{% url component-assign component.slug %}" method="post">
	{% for island in islands_list %}
	<input type="checkbox" name="{{island.name}}" value="{{island.slug}}"><a href="{% url island-detail island.slug %}">{{ island.name }}</a><br />
	{% endfor %}
	<input type="submit" value="Assign" />
	</form>
{% endblock %}