{% extends "templates/base.html" %}

{% block content %}

	<h1>Log In!</h1>

  {% if form.errors %}
    <p class="error">Sorry, that's not a valid username or password</p>
  {% endif %}

  <form action='./?next={{ redirect_to }}' method='post' id="register">
    <p><label for="username">User name:</label> <input type="text" name="username" value="" id="username"></p>
    <p><label for="password">Password:</label> <input type="password" name="password" value="" id="password"></p>
    <p><a href="{% url password_reset %}">Forgot your password?</a></p>

    <input type="submit" value="Log In" />
    <input type="hidden" name="next" value="{{ next }}" />
  </form>
  
  <h3><a href="{% url register %}">Or Sign up for a free account.</a></h3>

{% endblock %}