{% load i18n %}{% autoescape off %}
Hey! You're receiving this e-mail because you requested a password reset for your user account at the DINO-PIRATES OF NINJA ISLAND setting wiki. Forgot your password, huh? Happens to us all.

Resetting your password is easy: just click on the following link (honest, no spam here) and choose a new password:
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url django.contrib.auth.views.password_reset_confirm uidb36=uid, token=token %}
{% endblock %}

Your username, in case you've forgotten that too, is: {{ user.username }}

And may we say how much we admire that name, too. Fine choice. Anyway, once you've reset your password you can just go ahead and log right in.

Thanks for being part of DINO-PIRATES OF NINJA ISLAND!


Sincerely,

The DINO-PIRATE NINJAS

{% endautoescape %}