<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
	<head>
		<title>{% block title %}{% endblock %}</title>
		<link rel="stylesheet" type="text/css" href="/media/dponiwiki/dponiwikiStyle.css" />
	</head>
	<body>
		<div id="header">
			<form action="{% url search 'Island' %}" method="get">
				<a href="{% url island-list %}">Home</a> &bull;
				<label for="q">Search:</label> <input type="text" name="q" /> &bull;
			</form>
			<a href="{% url island-canonical "True" %}">Canonical Islands</a>
			<form action="{% url island-user %}" method="get">
				<label for="q">Search by username:</label> <input type="text" name="q" />
			</form>
			<p>{% if user.is_authenticated %}Welcome, {{ user.username }}. <a href="{% url logout %}">Logout</a>
			{% else %}
			<a href="{% url login %}?next={{request.path}}">Login</a>	or <a href="{% url register %}">Register</a>
			{% endif %}</p>
		</div>
		<div id="content">
			{% block content %}
			{% endblock %}
		</div>
	</body>
</html>