{% load tagging_tags %}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
	<head>
		<title>{% block title %}{% endblock %}</title>
		<link rel="stylesheet" type="text/css" media="screen" href="{{ MEDIA_URL }}dponiwikiStyle.css" />
		<link rel="stylesheet" type="text/css" media="print" href="{{ MEDIA_URL }}dponiwikiPrintStyle.css" />
		<link rel="icon" type="image/png" href="{{ MEDIA_URL }}favicon.png" />
		<script type="text/javascript" src="{{ MEDIA_URL }}scripts/disqus_developer.js"></script>
		<script type="text/javascript">
			//disqus_developer = 1;
			{% if island %}
			disqus_title = "{{ island.name }}";
			{% endif %}
			{% if component %}
			disqus_title = "{{ component.name }}";
			{% endif %}
		</script>
		<script type="text/javascript" src="{{ MEDIA_URL }}scripts/jquerymin.js"></script>
		<script type="text/javascript" src="{{ MEDIA_URL }}scripts/dponi_statblock.js"></script>
    	{% block head %}{% endblock %}
	</head>
	<body>
		<div id="banner">
			<a href="http://www.scratchfactory.com"><img src="{{ MEDIA_URL }}banners/SFTransparentLogo.png" style="padding-top:5px;float:right;"></a>
			<a href="/Home.php"><img style="border: none; padding-left: 25px;" src="{{ MEDIA_URL }}banners/Banner.png" alt="Banner"></a>
		</div>
		<div id="nav">
			<ul>
				<li><a href="/Home.php">DPoNI Home</a></li>
				<li><a href="/Basics.php">The Rules</a></li>
				<li
				{% ifequal page.slug 'running-dino-pirates' %}
				class="selected" 
				{% else %}{% endifequal %}
				{% if villain_role %} class="selected" {% endif %}
				><a href="{% url page-detail 'running-dino-pirates' %}">The Tools</a></li>
				<li 
				{% ifequal page.slug 'running-dino-pirates' %}{% else %}
				{% if not villain_role %}
				class="selected" 
				{% endif %}{% endifequal %}
				>
				<a href="{% url page-detail 'home' %}">The Setting</a></li>
				<li>&nbsp;</li>
				<li><a href="{% url island-canonical 'True' %}">Browse the Islands!</a></li>
				<li>&nbsp;</li>
				<li><a href="{% url create-island %}">Create an Island</a></li>
				<li><a href="{% url create-component %}">Create a Component</a></li>
				<li><a href="/dponiwiki/feeds/latest/"><img src="{{MEDIA_URL }}buttons/Feed.png" style="position:relative; top:0.4em" /> RSS Updates</a></li>
			</ul>
			<div id="searchbox">
				<h2>Find Cool Stuff</h2>
				<form action="{% url search 'Island' %}" method="get" >
					<label for="q">Search <a href="{% url page-detail 'islands' %}">Islands</a>:</label> <input type="text" name="q" /> 
				</form>
				<form action="{% url search 'IslandComponent' %}" method="get" >
					<label for="q">Search <a href="{% url page-detail 'components' %}">Components</a>:</label> <input type="text" name="q" />  
				</form>
				<form action="{% url owner-search %}" method="get" >
					<label for="q">Search by username:</label> <input type="text" name="q" />
				</form>
			</div>
			<p id="welcome">{% if user.is_authenticated %}Welcome, <a href="{% url owner user.username %}">{{ user.username }}</a><br /><a href="{% url logout%}">Log Out</a> : <a href="{% url password_change %}">Change Password</a>
			{% else %}
			<a href="{% url login %}?next={{request.path}}">Log In</a> or <a href="{% url register%}">Register</a>
			{% endif %}</p>
			<div id="tag-cloud">
				<h2>Popular Tags</h2>
				<p>Below is a list of some of the most common tags used on <a href="{% url page-detail 'components' %}">components</a> in <strong>DINO-PIRATES OF NINJA ISLAND</strong>. Click on tags to find components you're interested in!</p>
				{% tag_cloud_for_model dponiwiki.IslandComponent as tagcloud with steps=5 min_count=3 distribution=log %}
				<p class="tags-in-cloud">
					{% for tag in tagcloud %}
						<span style="font-size: {{ tag.font_size }}em"><a href="{% url component_tag_detail tag %}">{{ tag }}</a></span>
					{% endfor %}
				</p>
			</div>
		</div>
		<div id="content">
			{% block content %}
			{% endblock %}
			<div id="footer" class="noprint">
				<a rel="license" href="http://creativecommons.org/licenses/by/2.5/ca/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by/2.5/ca/80x15.png" /></a>
				<p>The content of this site, except images, is part of the Creative Commons. <a href="{% url page-detail 'how-works'%}">What does that mean?</a></p>
				<p><span xmlns:dc="http://purl.org/dc/elements/1.1/" property="dc:title">DINO-PIRATES OF NINJA ISLAND</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://www.dino-pirates.com" property="cc:attributionName" rel="cc:attributionURL">Corey Reid</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/2.5/ca/">Creative Commons Attribution 2.5 Canada License</a>.</p>
				<p>Images are copyright the respective copyright holders.</p>
			</div>
		</div>
	</body>
</html>