{% extends "templates/base.html" %}
{% block title %}
{% if title %}
{{ title }}
{% else %}
Some of the Islands...{% endif %}{% endblock %}
{% block content %}
	{% if heading %}
		<h2>{{ heading }}</h2>
	{% else %}
		<h2>Here's some cool stuff...</h2>
	{% endif %}
	
	{% if canonicity %}
		<p id="canonicitynote">These islands are <a href="{% url page-detail 'what-does-canonical-mean' %}">a canonical part of the DINO-PIRATES OF NINJA ISLAND setting</a>. While you can still edit them, keep in mind that the admins may revert your changes if they don't align with the overall setting vision. Want to see some <a href="{% url island-canonical 'False' %}">non-canonical islands</a>?</p>
	{% else %}
		<p id="canonicitynote">These islands are NOT <a href="{% url page-detail 'what-does-canonical-mean' %}">a canonical part of the DINO-PIRATES OF NINJA ISLAND setting</a>.  That doesn't mean you can't use them, but they won't show up in some parts of the site.  If you think this island SHOULD be canonical, please contact the setting administrators and maybe they'll agree with you. Want to see some <a href="{% url island-canonical 'True' %}">canonical islands</a>?</p>
	{% endif %}
	
	{% if islands %}
		{% if components %}
			<h2>Islands</h2>
		{% endif %}
		<ul id="island-list">
		{% for island in islands.object_list %}
			<li class="{% cycle 'tbeven' 'tbodd' %}"><a href=" {{ island.get_absolute_url }}">{{ island.name }}</a> 
			{% if island.summary %} &mdash; {{ island.summary|safe|truncatewords:10|cut:"[["|cut:"]]" }}{% endif %}</li>
		{% endfor %}
		</ul>
		<div class="pagination">
			<span class="step-links">
			{% if islands.has_previous %}
				<a href="?page={{ islands.previous_page_number }}{% if term %}&q={{ term }}{% endif %}">previous</a>
			{% endif %}
	
			<span class="current">
				Page {{ islands.number }} of {{ islands.paginator.num_pages }}.
			</span>
	
			{% if islands.has_next %}
				<a href="?page={{ islands.next_page_number }}{% if term %}&q={{ term }}{% endif %}">next</a>
			{% endif %}
			</span>
		</div>
	{% endif %}
	
	{% if components %}
		{% if islands %}
			<h2>Components</h2>
		{% endif %}
		<ul id="component-list">
		{% for component in components.object_list %}
			<li class="{% cycle 'tbeven' 'tbodd' %}"><a href="{{ component.get_absolute_url }}">{{ component.name }}</a></li>
		{% endfor %}
		</ul>
		<div class="pagination">
			<span class="step-links">
			{% if components.has_previous %}
				<a href="?page={{ components.previous_page_number }}{% if term %}&q={{ term }}{% endif %}">previous</a>
			{% endif %}
	
			<span class="current">
				Page {{ components.number }} of {{ components.paginator.num_pages }}.
			</span>
	
			{% if components.has_next %}
				<a href="?page={{ components.next_page_number }}{% if term %}&q={{ term }}{% endif %}">next</a>
			{% endif %}
			</span>
		</div>
	{% endif %}
{% endblock %}