{% extends "templates/base.html" %}
{% load markup %}
{% load taggingextras %}
{% load tagging_tags %}
{% block title %}{{ island.name }}{% endblock %}

{% block content %}
	<div class="functions">
		<a href="{% url update-island island.slug %}">
			<img src="{{MEDIA_URL}}buttons/Edit.png" title="Edit this island">
		</a>
		<a href="{% url create-component-island island.slug %}">
			<img src="{{MEDIA_URL}}buttons/Add.png" title="Add a new component to this island">
		</a>
		<a href="{% url item_history type="Island" slug=island.slug %}">
			<img src="{{MEDIA_URL}}buttons/History.png" title="View this island's history">
		</a>
		<a href="/feeds/Island/{{ island.slug }}">
			<img src="{{ MEDIA_URL }}buttons/Feed.png" title="Subscribe to this island's updates via RSS" />
		</a>
		<a href="#disqus_block">
			<img src="{{ MEDIA_URL }}buttons/Comments.png" title="View the comments on this island" />
		</a>
		<p>Owner: <a href="{% url owner island.owner.username %}">{{ island.owner }}</a></p>
	</div>
	<h1>{{ island.name }}</h1>
	<p class="updated">Updated: {{ island.modified|date:"N d, P" }}</p>
	{% if island.iscanonical %}
		<p id="canonicitynote">This island is <a href="{% url page-detail 'what-does-canonical-mean' %}">a canonical part of the DINO-PIRATES OF NINJA ISLAND setting</a>. You can still edit it, but aware that the admins may revert your changes if they don't align with the overall vision of the setting.</p>
	{% else %}
		<p id="canonicitynote">NOTE: This island is NOT <a href="{% url page-detail 'what-does-canonical-mean' %}">a canonical part of the DINO-PIRATES OF NINJA ISLAND setting</a>. That means it doesn't show up on the main page of the setting. But it DOES show up in searches and in the "Assigned-To" lists for components. If you think this island SHOULD be canonical, please contact the setting administrators and maybe they'll agree with you.<p> 
	{% endif %}
	<div id="island-body">
		{% if island.summary %}
		<div id="island-summary">
			<h4>Summary</h4>
			{{ island.summary|dinostyle|safe }}
			{% if island.get_unique_tags %}
				<h5>Components in this Island</h5>
				{% for tag_type in island.get_unique_tags %}
					<h6>{{ tag_type|capfirst }}</h6>
					<ul class="tagged_toc">
					{% for component in island.get_ordered_components %}
					{% tags_for_object component as tags %}
						{% for tag in tags %}
							{% ifequal tag.name tag_type %}
								<li><a href="{% url component-detail component.slug %}">{{ component.name }}</a></li>
							{% endifequal %}
						{% endfor %}
					{% endfor %}
					</ul>
				{% endfor %}
			{% endif %}
		</div>
		{% endif %}
		{{ island.content|dinostyle|safe }}
	</div>
	<div id="island-components">
		{% for component in island.get_ordered_components %}
			{% if component.is_box %}
			<div class="box">
			{% else %}
			<div class="flow">
			{% endif %}
				<h3 class="component-title"><a href="{% url component-detail component.slug %}">{{ component.name }}</a></h3>
				<p class="component-owner">Owner: <a href="{% url owner component.owner.username %}">{{ component.owner }}</a></p>
				<div class="islandcomponent-body">
					{{ component.content|dinostyle|safe }}
				</div>
				<div class="component-footer">
					<div class="functions">
						<form style="display: inline" action="{% url move_component island.slug component.slug %}" method="POST">
						<a href="{% url assign-component component.slug %}">
							<img src="{{ MEDIA_URL }}buttons/Assign.png" title="Assign this component to other islands">
						</a>
						<a href="{% url update-component island.slug, component.slug %}">
							<img src="{{MEDIA_URL}}buttons/Edit.png" title="Edit this component">
						</a>
						<a href="{% url remove_component island.slug, component.slug %}">
							<img src="{{MEDIA_URL}}buttons/Remove.png" title="Remove this component from this island">
						</a>
						{% if island.get_reorder_list %}
							<div class="move-box">
								<select name="order_change">
								{% for component_order, component_name in island.get_reorder_list %}
									<option value="{{ component_order }}" >{{ component_name }}</option>
								{% endfor %}
								</select>
								<button type="submit" value="Move" class="move-button" >
									<img src="{{MEDIA_URL}}buttons/Move.png"title="Move this component above the selected component" />
								</button>
							</div>
						{% endif %}
						</form>
					</div>
					<p class="component-tags">Tags: 
						{% tags_for_object component as tags %}
						{% for tag in tags %}
							<em><a href="{% url component_tag_detail tag %}">
								{{ tag }}
							</a></em>
						{% endfor %}
					</p>
				</div>
			</div>
		{% endfor %}
		
		<a name="disqus_block"><div id="disqus_thread"></div></a>
		<script type="text/javascript">
		  (function() {
		   var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
		   dsq.src = 'http://dino-pirates.disqus.com/embed.js';
		   (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		  })();
		</script>
		<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript=dino-pirates">comments powered by Disqus.</a></noscript>
		<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
	</div>
{% endblock %}