{% extends "templates/base.html" %}
{% block title %}
	{% if component %}
	Edit "{{ component.name }}"
	{% else %}
	Create A New Component!
	{% endif %}
{% endblock %}
{% block content %}
	
	{% if component %}
		<h1>Edit "{{ component.name }}"</h1>
	{% else %}
		<h1>Create a New Component</h1>
	{% endif %}
	<p style="margin-top: -1.5em; "><a href="{% url page-detail 'components' %}">What are components?</a></p>
	
	<form action="" method="post">
		<fieldset class="bottomfield">
			<label for="id_name">Component Name</label>{{ form.name.errors }}
			{{ form.name }}
			<div class="tips">
				<p>{% if component %}Your component's name.
				{% else %}You must include a name!
				{% endif %}</p>
			</div>
   			<label for="id_content">Component Content</label>{{ form.content.errors }}
   			{{ form.content }}
			<div class="tips">
				<p>{% if island %}Your component's content. Remember, you 
				{% else %}Put the meat of your component here. You 
				{% endif %}can use <a href="javascript:openMarkup();" target="_blank" tabindex="-1">Textile</a> markup here to style your content. To link to another island or component, just put [[ ]] around the item's name, like so: [[Component Name]].</p>
			</div>
			<label for="id_tags">Tags:</label>{{ form.tags.errors }}
			{{ form.tags }}
			<div class="tips">
				<p>Tags help people find your component. Separate tags with commas. Sample tags you might want to use: <a href="{% url component_tag_detail 'ninja' %}" tabindex="-1" >ninja</a>, <a href="{% url component_tag_detail 'pirate' %}" tabindex="-1" >pirate</a>, <a href="{% url component_tag_detail 'clan' %}" tabindex="-1" >clan</a>...</p>
			</div>
			<label for="id_comment">Comment:</label>{{ form.comment.errors }}
			{{ form.comment }}
			<div class="tips" style="margin-bottom: 1em">
				<p>You must include a comment so we know what you're thinking. Yes, you have to be thinking.</p>
			</div>
			<label class="box" for="id_is_box">Use Box Style</label>{{ form.is_box.errors }}
			{{ form.is_box }}
			<div class="tips">
				<p>If you want your component to display as a separate box aside from the main content of the island it's part of, check this box.</p>
			</div>
		</fieldset>
		
		<input type="submit" value="Save" />
	</form>
	<script language="JavaScript"> document.forms[3].name.focus();</script>
	
	<script type="text/javascript">
		var markupWin;
		function openMarkup(){
			if (markupWin == null || markupWin.closed){
				markupWin = window.open("{% url markup %}","","toolbar=no,personal=no,menubar=no,status=yes,resizable=yes,width=450,height=700,location=no,scrollbars=yes");
			}
			else{
				markupWin.focus();
			}
		}
	</script>
	
	<script language="JavaScript"> document.forms[3].name.focus();</script>
	
	{% if island %}
	<p><a href="{% url island-detail island.slug %}">Back</a></p>
	{% else %}
		{% if component %}
		<p><a href="{% url component-detail component.slug %}">Back</a></p>
		{% endif %}
	{% endif %}
{% endblock %}