{% extends "templates/base.html" %}
{% load markup %}
{% block title %}{{ island.name }}{% endblock %}
{% block content %}
	<h1>{{ island.name }}</h1>
	{% if island.summary %}
		<div id="island-summary" style="float: right">
			{{island.summary}}
		</div>
	{% endif %}
	<div id="island-body">
		{{ island.content|textile }}
		<p class="small">Updated: {{ island.modified|date:"N d, P" }}</p>
		<a href="{% url public-island-update island.slug %}">Edit!</a>
	</div>
	<div id="island-components">
		{% for component in components %}
		{% if component.is_box %}
		<div class="box">
		{% endif %}
		<div class="component-functions">
			<p><a href="{% url component-assign component.slug %}">Assign</a> :: 
			<a href="{% url public-component-update island.slug, component.slug %}">Edit </a>
		<form style="display: inline" action="{% url move_component island.slug component.slug %}" method="POST">
			<select name="order_change">
				{% for component in components %}
					<option value="{{ component.order }}" label="{{ component.name }}" />
				{% endfor %}
			</select>
			<input type="submit" value="Move" />
		</form>
		</div>
		<h3><a href="{% url component-detail component.slug %}">{{ component.name }}</a></h3>
		<p>{{ component.content|textile }}</p>
		<p>{{ component.tags }}</p>	
		{% if component.is_box %}
		</div>
		{% endif %}
		{% endfor %}
	</div>
	<p><a href="{% url public-component-create island.slug %}">Add Component!</a></p>
	<p><a href="{% url item_history type="Island" slug=island.slug %}">View History</a></p>
{% endblock %}