{% extends "templates/base.html" %}
{% block title %}Components...{% endblock %}
{% block content %}
	{% if heading %}
		<h3>{{ heading }}</h3>
	{% endif %}
	{% if tag %}
		<h2>Components Tagged with "{{tag}}"</h2>
	{% endif %}
	<ul id="component-list">
	{% for component in component_list %}
		<li class="{% cycle 'tbeven' 'tbodd'%}"><a href=" {{ component.get_absolute_url }}">{{ component.name }}</a></li>
	{% endfor %}
	</ul>
		<div class="pagination">
			<span class="step-links">
			{% if page_obj.has_previous %}
				<a href="?page={{ page_obj.previous_page_number }}{% if term %}&q={{ term }}{% endif %}">previous</a>
			{% endif %}
	
			<span class="current">
				Page {{ page_obj.number }} of {{ paginator.num_pages }}.
			</span>
	
			{% if page_obj.has_next %}
				<a href="?page={{ page_obj.next_page_number }}{% if term %}&q={{ term }}{% endif %}">next</a>
			{% endif %}
			</span>
		</div>
{% endblock %}