{% extends "templates/base.html" %}
{% load markup %}
{% block title %}{{ component.name }}{% endblock %}
{% block content %}
	<h1>{{ component.name }}</h1>
	<div id="islandcomponent-body">
	<div class="functions">
			<p><a href="{% url component-assign component.slug %}">Assign</a> :: 
			<a href="{% url public-component-update 'None', component.slug %}">Edit</a>
	</div>
		{{ component.content|textile }}
		<p>Islands this component is used in:</p>
		<ul id="islandcomponent-list">
			{% for island in component.host_islands.all %}
			<li><a href="{{ island.get_absolute_url}}">{{ island.name }}</a></li>
			{% endfor %}
		</ul>
		<p class="small">Updated {{ component.modified }}</p>
	</div>
{% endblock %}