{% extends "templates/base.html" %}
{% load markup %}
{% load taggingextras %}
{% load tagging_tags %}
{% block title %}{{ component.name }}{% endblock %}
{% block head %}

	{% if component.role_name %}
		<script type="text/javascript">
		$(document).ready(function(){
			var npc_json = JSON.parse('{{ component.as_json|safe }}');
			var npc_json_fields = npc_json[0][0].fields;
			var role_name = '{{ component.role_name }}';
			var npc_name = '{{ component.name }}';
			
			statblock = new DPoNIStatblock(npc_json_fields, role_name, '#npc_statblock', npc_name);
			statblock.display();
		
		});
			
		</script>
	{% endif %}

{% endblock %}
{% block content %}
	<div class="functions">
			<p>
			<a href="{% url assign-component component.slug %}">
				<img src="{{ MEDIA_URL }}images/Assign.png" title="Assign this component to other islands">
			</a>
			<a href="{% url update-component 'None', component.slug %}">
				<img src="{{MEDIA_URL}}images/Edit.png" title="Edit this component">
			</a>
			<a href="{% url item_history type='IslandComponent' slug=component.slug %}">
				<img src="{{MEDIA_URL}}images/History.png" title="View this component's history">
			</a>
			<a href="/feeds/IslandComponent/{{ component.slug }}">
				<img src="{{ MEDIA_URL }}images/Feed.png" title="Subscribe to this component's updates via RSS" />
			</a>
			<a href="#disqus_block">
				<img src="{{ MEDIA_URL }}images/Comments.png" title="View the comments on this component" />
			</a></p>
			<p>Owner: <a href="{% url owner component.owner.username %}">{{component.owner}}</a></p>
	</div>
	<h1>{{ component.name }}</h1>
	<p class="updated">Updated: {{ component.modified|date:"N d, P" }}</p>
	<div class="islandcomponent-body">
		{{ component.content|dinostyle|safe }}
		<div id="npc_statblock" style="display:none"></div>
	</div>
	<div class="component-footer">
		<p class="component-tags">Tags: 
			{% tags_for_object component as tags %}
			{% for tag in tags %}
				<em><a href="{% url component_tag_detail tag %}">{{ tag }}</a></em>
			{% endfor %}
		</p>
	</div>
	
	{% if component.host_islands.all %}
		<h3>Islands this component is used in:</h3>
		<ul id="island-list">
			{% for island in islands.object_list %}
			<li class="{% cycle 'tbeven' 'tbodd' %}"><a href="{{ island.get_absolute_url}}">{{ island.name }}</a></li>
			{% endfor %}
		</ul>
		
		<div class="pagination">
			<span class="step-links">
			{% if islands.has_previous %}
				<a href="?page={{ islands.previous_page_number }}{% if term %}&q={{ term }}{% endif %}">previous</a>
			{% endif %}
	
			<span class="current">
				Page {{ islands.number }} of {{ islands.paginator.num_pages }}.
			</span>
	
			{% if islands.has_next %}
				<a href="?page={{ islands.next_page_number }}{% if term %}&q={{ term }}{% endif %}">next</a>
			{% endif %}
			</span>
		</div>
	{% else %}
		<p>This component is not used in any islands.</p>
	{% endif %}	
	
	<a name="disqus_block"><div id="disqus_thread"></div></a>
	<script type="text/javascript">
	  (function() {
	   var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
	   dsq.src = 'http://dino-pirates.disqus.com/embed.js';
	   (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
	  })();
	</script>
	<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript=dino-pirates">comments powered by Disqus.</a></noscript>
	<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
	
{% endblock %}