{% extends "templates/base.html" %}
{% load markup %}
{% block title %}{{ island.name }}{% endblock %}
{% block content %}
	<div class="functions">
		<p><a href="{% url public-island-update island.slug %}">Edit</a> :: <a href="{% url public-component-create island.slug %}">Add Component</a> :: <a href="{% url item_history type="Island" slug=island.slug %}">View History</a></p>
		<p>Owner: <a href="{% url user island.owner.username %}">{{ island.owner }}</a></p>
	</div>
	<h1>{{ island.name }}</h1>
	<p class="updated">Updated: {{ island.modified|date:"N d, P" }}</p>
	{% if island.iscanonical %}
		<p id="canonicitynote">This island is a canonical part of the DINO-PIRATES OF NINJA ISLAND setting. You can still edit it, but aware that the admins may revert your changes if they don't align with the overall vision of the setting.</p>
	{% else %}
		<p id="canonicitynote">NOTE: This island is not a "canonical" part of the DINO-PIRATES OF NINJA ISLAND setting. That means it doesn't show up on the main page of the setting. But it DOES show up in searches and in the "Assigned-To" lists for components. If you think this island SHOULD be canonical, please contact the setting administrators and maybe they'll agree with you.<p> 
	{% endif %}
	<div id="island-body">
		{% if island.summary %}
		<div id="island-summary">
			<h4>Summary</h4>
			{{ island.summary|textile }}
		</div>
		{% endif %}
		{{ island.content|textile }}
	</div>
	<div id="island-components">
		{% for component in components %}
		{% if component.is_box %}
		<div class="box">
		{% endif %}
		<h3 class="component-title"><a href="{% url component-detail component.slug %}">{{ component.name }}</a></h3>
		<div class="functions">
			<form style="display: inline" action="{% url move_component island.slug component.slug %}" method="POST">
			<a href="{% url component-assign component.slug %}">Assign</a> :: 
			<a href="{% url public-component-update island.slug, component.slug %}">Edit </a> :: 
			<a href="{% url remove_component island.slug, component.slug %}">Remove</a>
				{% if reorder_list %}
					<select name="order_change">
					{% for component_order, component_name in reorder_list.items %}
						{% ifnotequal component_name component.name %}
						<option value="{{ component_order }}" label="{{ component_name }}" />
						{% endifnotequal %}
						{% ifequal component_name component.name %}
						<option value="{{ component_order }}" label="-----" />
						{% endifequal %}
					{% endfor %}
					</select>
					<input type="submit" value="Move" />
				{% endif %}
			</form>
			<p>Owner: <a href="{% url user component.owner.username %}">{{ component.owner }}</a></p>
		</div>
		<p>{{ component.content|textile }}</p>
		<p class="component-tags">Tags: {{ component.tags }} </p>
		{% if component.is_box %}
		</div>
		{% endif %}
		{% endfor %}
	</div>
{% endblock %}