{% extends "templates/base.html" %}
{% block title %}
	{% if island %}
	Edit "{{ island.name }}"
	{% else %}
	Create a New Island
	{% endif %}
{% endblock %}
{% block content %}

	<form action="" method="post">
	
   		<table class="fieldwrapper">
   		<tr><td colspan="3">{{ form.name.errors }}</td></tr>
   		<tr><td><label for="id_name">Island Name:</label></td>
   			<td>{{ form.name }}</td>
   			<td>You must include a name!</td>
   		</tr>
   		
   		<tr><td colspan="3">{{ form.summary.errors }}</td></tr>
   		<tr><td><label for="id_summary">Island Summary: </label></td>
   			<td>{{ form.summary }}</td>
   			<td>You can provide a brief summary of your island that people can search on.</td>
   		</tr>
   		<tr><td colspan="3">{{ form.content.errors }}</td></tr>
   		<tr><td><label for="id_content">Island Content:</label></td>
   			<td>{{ form.content }}</td>
   			<td>Put the meat of your island here. You can use <a href="http://textile.thresholdstate.com/">Textile</a> markup here to style your content: use "_underscores_" for italics, or "*asterixes*" for bold. "h1." will produce a heading of level one, and if you enclose the URL of an image in exclamation points "!imageurl!" the image will display in your content.</td>
   		</tr>
   		<tr><td colspan="3">{{ form.comment.errors }}</td></tr>
   		<tr><td><label for="id_comment">Comment:</label></td>
   			<td>{{ form.comment }}</td>
   			<td>You must include a comment so we know what you're thinking. Yes, you have to be thinking.</td>
   		</tr>
		</table>
		<input type="submit" value="Save" />
	</form>
	
	{% if island %}
	<p><a href="{% url island-detail island.slug %}">Back</a></p>
	{% endif %}
{% endblock %}