{% extends "templates/base.html" %}
{% load markup %}
{% block title %}{{ component.name }}{% endblock %}
{% block content %}
	<div class="functions">
			<p><a href="{% url component-assign component.slug %}">Assign</a> :: 
			<a href="{% url public-component-update 'None', component.slug %}">Edit</a> :: <a href="{% url item_history type='IslandComponent' slug=component.slug %}">View History</a></p>
			<p>Owner: <a href="{% url user component.owner.username %}">{{component.owner}}</a></p>
	</div>
	<h1>{{ component.name }}</h1>
		<p class="updated">Updated: {{ component.modified|date:"N d, P" }}</p>
	<div id="islandcomponent-body">
		{{ component.content|textile }}
		
		{% if component.host_islands.all %}
		<p>Islands this component is used in:</p>
		<ul id="islandcomponent-list">
			{% for island in component.host_islands.all %}
			<li><a href="{{ island.get_absolute_url}}">{{ island.name }}</a></li>
			{% endfor %}
		</ul>
		
		<div class="pagination">
			<span class="step-links">
			{% if islands.has_previous %}
				<a href="?page={{ islands.previous_page_number }}{% if term %}&q={{ term }}{% endif %}">previous</a>
			{% endif %}
	
			<span class="current">
				Page {{ islands.number }} of {{ islands.paginator.num_pages }}.
			</span>
	
			{% if islands.has_next %}
				<a href="?page={{ islands.next_page_number }}{% if term %}&q={{ term }}{% endif %}">next</a>
			{% endif %}
			</span>
		</div>
		{% else %}
		<p>This component is not used in any islands.</p>
		{% endif %}
	</div>
{% endblock %}