{% extends "templates/base.html" %}
{% block title %}
	{% if component %}
	Edit "{{ component.name }}"
	{% else %}
	Create A New Component!
	{% endif %}
{% endblock %}
{% block content %}
	
	{% if component %}
		<h1>Edit "{{ component.name }}"</h1>
	{% else %}
		<h1>Create a New Component</h1>
	{% endif %}
	<p style="margin-top: -1.5em; margin-bottom:2em"><a href="{% url page-detail 'components' %}">What are components?</a></p>

	<form action="" method="post">
		
		<table class="fieldwrapper">
   		<tr><td colspan="3">{{ form.name.errors }}</td></tr>
   		<tr><td><label for="id_name">Name:</label></td>
   			<td>{{ form.name }}</td>
   			<td>
   				{% if component %}Your component's name
   				{% else %}You must include a name!
   				{% endif %}
   			</td>
   		</tr>
   		</tr>
   		<tr><td colspan="3">{{ form.content.errors }}</td></tr>
   		<tr><td><label for="id_content">Content:</label></td>
   			<td>{{ form.content }}</td>
   			<td>{% if component %}Your component's content. Remember, you 
   			{% else %}Put the meat of your component here. You 
   			{% endif %}can use <a href="http://textile.thresholdstate.com/" tabindex="-1">Textile</a> markup here to style your content:
   					<ul>
   						<li>use "_underscores_" for <em>italics</em>, or "*asterixes*" for <strong>bold</strong>.</li>
   						<li>"h1." will produce a heading of level one</li>
   						<li>if you enclose the URL of an image in exclamation points "!imageurl!" the image will display in your content. Include "(imageleft)" or "(imageright)" after the first "!" to float the image to either side.</li>
   						<li>put "bq.." before a statblock to set it off from the rest of the text.</li>
   					</ul>
   			</td>
   		</tr>
   		<tr><td colspan="3">{{ form.tags.errors }}</td></tr>
   		<tr><td><label for="id_tags">Tags:</label></td>
   			<td>{{ form.tags }}</td>
   			<td>Tags help people find your component. Separate tags with commas. Sample tags you might want to use: ninja clan, pirate, city, character...</td>
   		</tr>
   		<tr><td colspan="3">{{ form.is_box.errors }}</td></tr>
   		<tr><td><label for="id_is_box">Use Box Style:</label></td>
   			<td>{{ form.is_box }}</td>
   			<td>If you want your component to display as a separate box aside from the main content of the island it's part of, check this box.</td>
   		</tr>
   		<tr><td colspan="3">{{ form.comment.errors }}</td></tr>
   		<tr><td><label for="id_comment">Comment:</label></td>
   			<td>{{ form.comment }}</td>
   			<td>You must include a comment so we know what you're thinking. Yes, you have to be thinking.</td>
   		</tr>
   		
		</table>
		
		<input type="submit" value="Save" />
	</form>
	<script language="JavaScript"> document.forms[3].name.focus();</script>
	
	{% if island %}
	<p><a href="{% url island-detail island.slug %}">Back</a></p>
	{% else %}
		{% if component %}
		<p><a href="{% url component-detail component.slug %}">Back</a></p>
		{% endif %}
	{% endif %}
{% endblock %}