<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<link rel="stylesheet" type="text/css" href="/dponiwiki/media/dponiwikiStyle.css" />
	<title>Text formatting</title>
</head>
<body>
	<h1 style="text-align:center">Textile Syntax Quick Reference</h1>
	
	<table width="50%" class="syntax_table">
		<tr><td width="30%" style="text-align:center">Type this</td><td style=" text-align:center">To see this</td></tr>
		<tr><th colspan="2" style="text-align:center"><h3>Font Styles</h3></th></tr>
		<tr><td>*Strong*</td><td><strong>Strong</strong></td></tr>
		<tr><td>_Italic_</td><td><em>Italic</em></td></tr>
		<tr><td>+Underline+</td><td><ins>Underline</ins></td></tr>
		<tr><td>-Deleted-</td><td><del>Deleted</del></td></tr>
		<tr><td>??Quote??</td><td><cite>Quote</cite></td></tr>
		
		<tr style="height:3em"><th colspan="2" style="text-align:center"><h3>Lists</h3></th></tr>
		<tr><td>* Item 1<br />* Item 2</td><td><ul><li>Item 1</li><li>Item 2</li></ul></td></tr>
		<tr><td># Item 1<br /># Item 2</td><td><ol><li>Item 1</li><li>Item 2</li></ol></td></tr>
		
		<tr style="height:3em"><th colspan="2" style="text-align:center"><h3>Headings</h3></th></tr>
		<tr><td>h1. Title 1</td><td><h1>Title 1</h1></td></tr>
		<tr><td>h2. Title 2</td><td><h2>Title 2</h2></td></tr>
		<tr><td>h3. Title 3</td><td><h3>Title 3</h3></td></tr>
		
		<tr style="height:3em"><th colspan="2" style="text-align:center"><h3>Links</h3></th></tr>
		<tr><td>http://foo.bar</td><td><a href="#">http://foo.bar</a></td></tr>
		<tr><td>"Foo":http://foo.bar</td><td><a href="#">Foo</a></td></tr>
		<tr><td>[[Island or Component Name]]</td><td><a href="#">Island or Component Name</a></td></tr>
		
		<tr style="height:3em"><th colspan="2" style="text-align:center"><h3>Inline images</h3></th></tr>
		<tr><td>!<em>image_url</em>!</td><td><img src="../media/images/125x125-jh.jpg" />No text wrap-around.</td></tr>
		<tr><td>!<em>(imageleft)image_url</em>!</td><td><img src="../media/images/125x125-jh.jpg" style="float:left" />Wrap text around to the right.</td></tr>
		<tr><td>!<em>(imageright)image_url</em>!</td><td><img src="../media/images/125x125-jh.jpg" style="float:right" />Wrap text around to the left.</td></tr>
	</table>
</body>
</html>