{% extends "templates/base.html" %}
{% load markup %}
{% load tagging_tags %}
{% block title %}{{ page.name }}{% endblock %}
{% block content %}

	<div id="static-content">
	{{ page.content|safe }}
	</div>
	
	<div id="tagged-list">
		{% ifequal "ninjas" page.slug %}
			<h4>Seek out ninja secrets among the islands:</h4>
			<ul id="tagged-component-list">
			{% tagged_objects 'ninja' in dponiwiki.IslandComponent as tagged_components %}
			{% for component in tagged_components %}
				<li class="{% cycle 'tbeven' 'tbodd' %}"><a href="{{ component.get_absolute_url }}">{{ component.name }}</a></li>
			{% endfor %}
			</ul>
		{% endifequal %}
		{% ifequal "dino-pirates" page.slug %}
			<h4>Find piratical booty!</h4>
			<ul id="tagged-component-list">
			{% tagged_objects 'pirate' in dponiwiki.IslandComponent as tagged_components %}
			{% for component in tagged_components %}
				<li class="{% cycle 'tbeven' 'tbodd' %}"><a href="{{ component.get_absolute_url }}">{{ component.name }}</a></li>
			{% endfor %}
			</ul>
		{% endifequal %}
		{% ifequal "empire" page.slug %}
			<h4>Imperials lurking among the islands:</h4>
			<ul id="tagged-component-list">
			{% tagged_objects 'imperial' in dponiwiki.IslandComponent as tagged_components %}
			{% for component in tagged_components %}
				<li class="{% cycle 'tbeven' 'tbodd' %}"><a href="{{ component.get_absolute_url }}">{{ component.name }}</a></li>
			{% endfor %}
			</ul>
		{% endifequal %}
		{% ifequal "natives" page.slug %}
			<h4>Native sights and personalities:</h4>
			<ul id="tagged-component-list">
			{% tagged_objects 'native' in dponiwiki.IslandComponent as tagged_components %}
			{% for component in tagged_components %}
				<li class="{% cycle 'tbeven' 'tbodd' %}"><a href="{{ component.get_absolute_url }}">{{ component.name }}</a></li>
			{% endfor %}
			</ul>
		{% endifequal %}
			
	</div>
	
	{% if latest_updates %}
	<div id="updates">
		<h2>Some Recent Updates</h2>
		
		
			<ul id="island-list">
				{% for island in latest_updates %}
					<li class="{% cycle 'tbeven' 'tbodd' %}"><a href="{{ island.get_absolute_url }}">{{ island.name }}</a>: {{ island.latest_changeset.comment }} ({{ island.latest_changeset.modified|timesince }} ago)</li>
				{% endfor %}
			</ul>
	</div>
	{% endif %}
	
{% endblock %}