{% extends "templates/base.html" %}
{% load markup %}
{% load smart_if %}
{% block title %}Villain Generator!{% endblock %}
{% block head %}
<script type="text/javascript" src="{{ MEDIA_URL }}scripts/villain.js"></script>
<script type="text/javascript">
	
	$(document).ready(function(){
		var villain_data = {{ villain_data|safe }};
		var skills = {{ villain_skills|safe }};
		var selected = {{ villain_level }};
		
		//set the level select options
		document.Villain.Villain_Level.options.length = 0;
		for (i = 1; i < villain_data.length; i++){
			document.Villain.Villain_Level.options[i] = new Option(i, i);
		}
		
		if (selected != '0') {
			var villain_obj = create_villain(selected, villain_data, skills);
			
			villain_obj.display();
		}
		
		$("#level").change(function(){
			var select = document.Villain.Villain_Level.options.selectedIndex;
			if (select != 0){
				var villain_obj = create_villain(select, villain_data, skills);
				
				villain_obj.display();
				
			}		
		});
		
	});
	
</script>

{% endblock%}
{% block content %}

	{% if villain_name %}
		<div class="noprint">
		<h4 style="float:left; padding-right: 1em">Select {{ villain_name }} Level:</h4>
		<form name="Villain" style="padding-top: 1.8em;">
			<select name="Villain_Level" id="level">
			</select>
		</form>
		</div>
	{% else %}
		<h1>Selecting A Villain</h1>
		<p>Villains are of course key to any great DINO-PIRATES OF NINJA ISLAND adventure. While you could peruse the list of creatures provided, and select a villain from within, sometimes that's more work than one really needs to take on.</p>
		<p>Enter this, the official DINO-PIRATES OF NINJA ISLAND Villain Picker. Start by selecting any of the villain types below, then choose a level appropriate to your party, and you'll have a statblock your party will fear and love, all at the same time.</p>
		<h2>Villain Types</h2>
		<h3><a href="{% url villain_picker 'Artillery' %}">Artillery</a></h3>
		<p>Artillery is meant to present powerful ranged combatants. Unlike lurkers, artillery don’t focus on ambush; they’re good enough, and use terrain intelligently enough, that they can confront things head-on. Unlike skirmishers, artillery don’t have to stay on the move, although clever movement is important to their success and survival.</p>
		<p>This role can represent master archers, range-focused highwaymen, powerful evokers, demon-fused wizards, or any other character that is a threat due to powerful, unending ranged attacks.</p>
		<h3><a href="{% url villain_picker 'Brute' %}">Brute</a></h3>
		<p>Physically powerful and very dangerous, the brute excels at close combat. Whether a demon or beast tearing apart prey, or a mighty warrior crushing weaker foes, the brute closes with and destroys his enemies through sheer power.</p>
		<h3><a href="{% url villain_picker 'Controller' %}">Controller</a></h3>
		<p>Controllers manipulate the battlefield, changing the circumstances to those most beneficial to their cause. Creating barriers, deploying traps and snares, causing deceptions and distractions, and generally wreaking havoc upon movement and coordination is the controller’s specialty. Sometimes, you want a “controller” that enhances his allies rather than altering the field; for such characters look to the War Leader role.</p>
		<p>This role can represent abjurers, conjurers, illutionists, transmuters, and even enchanters. It can also represent specialized grenades, trick arrows, sonic emitter cannons, or any of a dozen other methods for deploying discontent and confusion across a battlefield.</p>
		<h3><a href="{% url villain_picker 'Lurker' %}">Lurker</a></h3>
		<p>The lurker specializes in taking down opponents by underhanded means, and when the prey least expects it. Lurkers are at a disadvantage in a fair fight, but their skills at stealth and deception ensure it should be difficult to pin them down.</p>
		<p>This role is good for stealthy ninjae, singular assassins, cave-dwelling sudden death, or other foes that strike suddenly and unexpectedly, relying upon surprise and precision to defeat powerful foes. Lurkers generally fall quickly if unable to escape to strike again.</p>
		<h3><a href="{% url villain_picker 'Skirmisher' %}">Skirmisher</a></h3>
		<p>The skirmisher is the proof of the power of mobility. Skirmishers not only refuse to stay still, they lose out greatly by not moving. Skirmishers are generally wary of large groups of opponents, due to the risk of being hemmed in and unable to move fast enough. 																	</p>
		<p>This role is ideal for many animalistic predators (cheetah, eagles, and others that rely upon speed), dervish nomads, shadow-dancing rogues, hit-and-run drakes, and classic swinging-from-the-rigging swashbucklers. If the opponent moves fast, and uses that momentum to strike hard, then the skirmisher role is the one you want.</p>
		<h3><a href="{% url villain_picker 'WarLeader' %}">War Leader</a></h3>
		<p>The war leader is a field commander, a leader of troops and a commanding presence on any battlefield. Some inspire their followers through praise and leadership while others use threats and fear. The most dangerous tend to be honorable and noble, but the numbers they can bring and their dedication to dominance make them implacable foes and dangerous politicians.</p><p>Don’t confuse a war leader with a villain that simply attracts followers. Though of moderate power on his own, a war leader uses his followers to even the odds against the party. Other villains may use thugs and footsoldiers but the war leader depends upon them.</p>
	{% endif %}
	
	<div class="StatBlock" style="display:none; clear:left" >
		
		<table id="statblocktable">
		<tr>
			<td>Name:</td>
			<td colspan="5"></td>
			<td colspan="3">(<span class="Level"></span>{{ villain_name }} )</td>
			<td colspan="2" class="stat_name">Reputation:</td>
			<td class="statvalue">+<span class="Reputation"></span></td>
		</tr>
		<tr class="titlebar"><td colspan="12">Abilities</td></tr>
		<tr>
			<td width="8%" class="stat_name" style="text-align:center">STR</td><td width="9%" class="statvalue"><span class="Strength"></span></td>
			<td width="8%" class="stat_name" style="text-align:center">DEX</td><td width="9%" class="statvalue"><span class="Dexterity"></span></td>
			<td width="8%" class="stat_name" style="text-align:center">CON</td><td width="9%" class="statvalue"><span class="Constitution"></span></td>
			<td width="8%" class="stat_name" style="text-align:center">INT</td><td width="9%" class="statvalue"><span class="Intelligence"></span></td>
			<td width="8%" class="stat_name" style="text-align:center">WIS</td><td width="8%" class="statvalue"><span class="Wisdom"></span></td>
			<td width="8%" class="stat_name" style="text-align:center">CHA</td><td width="8%" class="statvalue"><span class="Charisma"></span></td>
		</tr>
		
		<tr class="titlebar"><td colspan="12">Skills</td></tr>
		<tr>
			<td colspan="12" style="padding-bottom: 30px"><span class="Skills"></span></td>
		</tr>
		
		<tr class="titlebar"><td colspan="12">Feats and Powers</td></tr>
		<tr>
			<td colspan="12" style="padding-bottom: 30px"><span class="Abilities">None</span></td>
		</tr>
		
		{% if villain_data.1.7 %}
			<tr>
				<td colspan="2">Save DC:</td>
				<td colspan="10"><span class="DC"></span></td>
			</tr>
		{% endif %}
		
		<tr class="titlebar"><td colspan="12">Combat</td></tr>
		<tr>
			<td class="stat_name">Init:</td>
			<td colspan="2" class="statvalue"><span class="Dexterity"></span></td>
			<td colspan="3" class="stat_name">Primary Attack:</td>
			<td colspan="2" class="statvalue">+<span class="Primary_Attack"></span></td>
			<td class="stat_name" colspan="2">Damage:</td>
			<td colspan="2" class="statvalue">+<span class="Full_Damage"></span></td>
		</tr>
		
		<tr><td class="stat_name">Maneuver:</td>
		<td colspan="2" class="statvalue">+<span class="MB"></span></td>
			{% if villain_name = 'Artillery' or villain_name = 'Skirmisher' %}
				<td colspan="3" class="stat_name">Secondary Attack:</td>
				<td colspan="2" class="statvalue">+<span class="Secondary_Attack"></span></td>			
				<td class="stat_name" colspan="2">Damage:</td>
				<td colspan="2" class="statvalue">+<span class="Damage"></span></td>
			{% else %}
				<td colspan="9"></td>
			{% endif %}
		</tr>
		<tr>
			<td colspan="2" class="stat_name" style="font-style:italic; text-align:center">Defense</td>
			<td class="stat_name" colspan="2">Flat-Footed:</td>
			<td colspan="2" class="statvalue"><span class="FF"></span>
				<span class="Second_Defense"></span></td>
			<td class="stat_name">Dodge:</td>
			<td colspan="2" class="statvalue"><span class="Dodge"></span>
				<span class="Second_Dodge"></span></td>
			<td class="stat_name">Parry:</td>
			<td colspan="2" class="statvalue"><span class="Parry"></span>
				<span class="Second_Parry"></span></td>
		</tr>
		<tr class="stat_name" style="text-align:center; background-color: grey; color:white">
			<td>Damage:</td>
			<td colspan="2">0</td>
			<td colspan="3">5+</td>
			<td colspan="3">10+</td>
			<td colspan="3">15+</td>
		</tr>
		<tr class="stat_name" style="text-align:center">
			<td>/</td>
			<td colspan="2">Bruised</td>
			<td colspan="3">Dazed</td>
			<td colspan="3">Staggered</td>
			<td colspan="3">Unconscious</td>
		</tr>
		<tr style="text-align:center;">
			<td>&nbsp;</td>
			<td colspan="2">
				<table width="100%"><tr>
					<td class="checkbox">&nbsp;</td>
					<td>&nbsp;</td>
					<td class="checkbox">&nbsp;</td>
					<td>&nbsp;</td>
					<td class="checkbox">&nbsp;</td>
				</tr></table>
			</td>
			<td colspan="3">
				<table width="100%"><tr>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td class="checkbox">&nbsp;</td>
					<td>&nbsp;</td>
					<td class="checkbox">&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr></table>
			</td>
			<td colspan="3">
				<table width="100%"><tr>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td class="checkbox">&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr></table>
			</td>
			<td colspan="3">
				<table width="100%"><tr>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td class="checkbox">&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr></table>
			</td>
		</tr>
		<tr class="stat_name" style="text-align:center">
			<td>X</td>
			<td colspan="2">Hurt</td>
			<td colspan="3">Wounded</td>
			<td colspan="3">Disabled</td>
			<td colspan="3">Dying</td>
		</tr>
		<tr class="stat_name" style="text-align:center; background-color: grey; color:white"><td>Fatigue:</td><td colspan="11"></td></tr>
		<tr class="stat_name" style="text-align:center">
			<td></td>
			<td colspan="2">Strained</td>
			<td colspan="3">Winded</td>
			<td colspan="3">Fatigued</td>
			<td colspan="3">Exhausted</td>
		</tr>
		<tr style="text-align:center">
			<td>/</td>
			<td colspan="2">
				<table width="100%"><tr>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td class="checkbox">&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr></table>
			</td>
			<td colspan="3">
				<table width="100%"><tr>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td class="checkbox">&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr></table>
			</td>
			<td colspan="3">
				<table width="100%"><tr>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td class="checkbox">&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr></table>
			</td>
			<td colspan="3">
				<table width="100%"><tr>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td class="checkbox">&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr></table>
			</td>
		</tr>
			
		<tr class="titlebar"><td colspan="12">Saves</td></tr>
		<tr>
			<td colspan="2" class="stat_name">Toughness:</td>
			<td class="statvalue">+<span class="Toughness"></span></td>
			<td colspan="2" class="stat_name">Fortitude:</td>
			<td class="statvalue">+<span class="Fort"></span></td>
			<td colspan="2" class="stat_name">Reflex:</td>
			<td class="statvalue">+<span class="Ref"></span></td>
			<td colspan="2" class="stat_name">Will:</td>
			<td class="statvalue">+<span class="Will"></span></td>
		</tr>
		</table>
	</div>
	
	
	{% if villain_name %}
		<div style="clear:left" class="noprint">
			<h3>About {{ villain_name }}{% if villain_name != "Artillery" %}s{% endif %}</h3>
			{{ villain_data.1.17|safe }}
		</div>
	{% endif %}
	
	<div id="villain_selection" style="clear:left" class="noprint">
		<h2>Select a{% if villain_name %}nother{% endif %} Villain type:</h2>
		<p><a href="{% url villain_picker 'Artillery' %}">Artillery</a> ::
		 <a href="{% url villain_picker 'Brute' %}">Brute</a> ::
		 <a href="{% url villain_picker 'Controller' %}">Controller</a> ::
		 <a href="{% url villain_picker 'Lurker' %}">Lurker</a> ::
		 <a href="{% url villain_picker 'Skirmisher' %}">Skirmisher</a> ::
		 <a href="{% url villain_picker 'WarLeader' %}">War Leader</a></p>
	{% if latest_updates %}
	<div id="updates" class="noprint">
		<h2>Some Recent Updates</h2>
		
		
			<ul id="island-list">
				{% for island in latest_updates %}
					<li class="{% cycle 'tbeven' 'tbodd' %}"><a href="{{ island.get_absolute_url }}">{{ island.name }}</a>: {{ island.latest_changeset.comment }} ({{ island.latest_changeset.modified|timesince }} ago)</li>
				{% endfor %}
			</ul>
	</div>
	{% endif %}
	
{% endblock %}